@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  font-family: "PT sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d5eaf2;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  position: fixed;
  background-color: #d5eaf2;
}
.navbar__logo {
  margin-right: 5vw;
  padding: 10px;
  color: #0d0d0d;
}

.navbar-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.navbar-ul__item {
  padding: 10px;
}

a {
  color: #0d0d0d;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #bf0f30;
}

.page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  width: 100%;
}
.page-content--blue-one {
  background-color: #6ab9d9;
}
.page-content--blue-two {
  background-color: #5670bf;
}
.page-content--blue-three {
  background-color: #4563bf;
}
.page-content--blue-four {
  background-color: #032ca6;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  width: 95%;
}
.card--white {
  background-color: white;
}

.card-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100%;
  width: 95%;
  font-size: 4vw;
}
.card-box--align-center {
  justify-content: center;
  align-items: center;
}
.card-box__heading {
  font-size: 50px;
  margin-left: 2%;
}
.card-box__heading--font-black {
  color: #0d0d0d;
}
.card-box__para {
  text-align: right;
  margin-left: 15%;
  margin-top: 5%;
  font-size: 40px;
}
.card-box__para--margin-bottom {
  margin-bottom: 8%;
}

.card-box-gallery {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 95%;
  justify-content: center;
}
