@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
    font-family: "PT sans", sans-serif;
    margin: 0;
    padding: 0;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #d5eaf2;
}
.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    position: fixed;
    background-color: #d5eaf2;
    font-size: 2vh;

    &__logo {
        margin-right: 5vw;
        padding: 10px;
        color: #0d0d0d;
    }
}

.navbar-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &__item {
        padding: 10px;
    }
}

a {
    color: #0d0d0d;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #bf0f30;
}

.page-layout {
    @include flexcenter();
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}

.page-content {
    @include flexcenter();
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    width: 100%;
    &--blue-one {
        background-color: #6ab9d9;
    }
    &--blue-two {
        background-color: #5670bf;
    }
    &--blue-three {
        background-color: #4563bf;
    }
    &--blue-four {
        background-color: #032ca6;
    }
}

.card {
    @include flexcenter();
    flex-direction: column;
    min-height: 80vh;
    width: 95%;

    &--white {
        background-color: white;
    }
}

.card-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
    width: 95%;
    font-size: 4vw;

    &--align-center {
        justify-content: center;
        align-items: center;
    }

    &__heading {
        font-size: 1em;
        margin-left: 2%;
        &--font-black {
            color: #0d0d0d;
        }
    }

    &__para {
        text-align: right;
        margin-left: 15%;
        margin-top: 5%;
        font-size: 0.7em;

        &--margin-bottom {
            margin-bottom: 8%;
        }
    }
}
